*, html, body{
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.fContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: lightslategray;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 100px;
    background-color: #222;
    box-shadow: 0 7px 15px rgba(0,0,0,0.5);
    margin-top: -540px;

}

.brand{
        display: flex;
        flex-direction: row;
        font-size: 1.5em;
        padding:35px;
        
        
}
.firstname{
    color: white;
    font-weight: 800;
}
.lastname{
    color: crimson;
    padding-left: 4px;
    font-weight: 400;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation>li {
    list-style-type: none;
    padding: 15px;
}
.navigation> li> a {
color: white;
font-size: 20px;
text-decoration: none;
text-transform: capitalize;
}
.navigation> li >a:hover {
    color: crimson;
    transition: all .3s ease-in-out;
}
.navigation > li > img {
width: 50px;
height: 50px;
border-radius: 50px;
}
.active{
    background-color: crimson;
}
.active:hover{
    color: white !important;
}
.footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightslategray;
}
.footer{
    background-color: #222;
    box-shadow: 0 7px 15px rgba(0,0,0,0.5);
    width: 100%;
    padding: 10px;
    
}

.paragraf{
    color: crimson;
}
.paragraf-1{
    color: white;
}

.p{
    position: absolute;
    top: 18%;
}


/* atas */
.sayonara{
    position: absolute;
    top:115px;
    left: 930px;
    border: 2px solid black;
    transition: 1s;
}
.sayonara:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.h3{
    background-color: #222;
    color: white;
    text-align: center;
}
.onlytoday{
    position: absolute;
    top: 115px;
    left: 473px;
    border: 2px solid black;
    transition: 1s;
}
.onlytoday:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.masadepan{
    position: absolute;
    top:115px;
    left: 15px;
    border: 2px solid black;
    transition: 1s;
}
.masadepan:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* atas selesai */

/* bawah */
.kebunbinatang{
    position: absolute;
    top:375px;
    left: 15px;
    border: 2px solid black;
    transition: 1s;
}
.kebunbinatang:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.rapsodi{
    position: absolute;
    top:375px;
    left: 473px;
    border: 2px solid black;
    transition: 1s;
}
.rapsodi:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.flying{
    position: absolute;
    top:375px;
    left: 930px;
    border: 2px solid black;
    transition: 1s;
}
.flying:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* VALKYRIE 48 */
.marsha{
    width:300px;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:165px;
    left: 8px;
    background-image: url(logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:125px;
    color: white;
    transition: 1s;
}
.gita{
    width:300px;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:165px;
    left:335px;
    background-image: url(logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:-212px;
    color: white;
    transition: 1s;
}
.kathrin{
    width:300px;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:165px;
    left:685px;
    background-image: url(logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:125px;
    color: white;
    transition: 1s;
}
.adel{
    width:300px;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:165px;
    left:1012px;
    background-image: url(logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:-212px;
    color: white;
    transition: 1s;
}
/* VALKYRIE SELESAI */

/*HOVER*/
.marsha:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.gita:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.kathrin:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.adel:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* HOVER SELESAI */

.marsha > a > i{
   color: white;
   font-size: 30px;
}
.gita > a > i{
    color: white;
    font-size: 30px;
 }
.kathrin > a >i{
    color: white;
    font-size: 30px;
 }
.adel > a >i{
    color: white;
    font-size: 30px;
 }
 /* MEMBER */
 .ashel{
    position: absolute;
    top: 118px;
    left:35px ;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .amanda{
    position: absolute;
    top: 118px;
    left: 155px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .christy{
    position: absolute;
    top: 118px;
    left: 272px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .lia{
    position: absolute;
    top: 118px;
    left: 389px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .zee{
    position: absolute;
    top: 118px;
    left: 507px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .callie{
    position: absolute;
    top: 118px;
    left: 623px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
 .oniel{
    position: absolute;
    top: 118px;
    left: 740px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .olla{
    position: absolute;
    top: 118px;
    left: 857px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
 .feni{
    position: absolute;
    top: 118px;
    left: 974px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .fiony{
    position: absolute;
    top: 118px;
    left: 1091px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .flora{
    position: absolute;
    top: 118px;
    left: 1208px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .freya{
    position: absolute;
    top: 288px;
    left: 35px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .ella{
    position: absolute;
    top: 288px;
    left: 155px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .gita1{
    position: absolute;
    top: 288px;
    left: 272px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .eli{
    position: absolute;
    top: 288px;
    left: 389px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .indah{
    position: absolute;
    top: 288px;
    left: 507px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .indira{
    position: absolute;
    top: 288px;
    left: 623px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .jessi{
    position: absolute;
    top: 288px;
    left: 740px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .lyn{
    position: absolute;
    top: 288px;
    left: 857px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .kathrina{
    position: absolute;
    top: 288px;
    left: 974px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .marsha1{
    position: absolute;
    top: 288px;
    left: 1091px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .lulu{
    position: absolute;
    top: 288px;
    left: 1208px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .muthe{
    position: absolute;
    top: 458px;
    left: 35px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.raisha{
    position: absolute;
    top: 458px;
    left: 155px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .adel1{
    position: absolute;
    top: 458px;
    left: 272px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .shani{
    position: absolute;
    top: 458px;
    left: 389px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .gracia{
    position: absolute;
    top: 458px;
    left: 507px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .chika{
    position: absolute;
    top: 458px;
    left: 623px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
 }
 .copy{
    position: absolute;
    top: 600px;
    left: 830px;
    color:rgb(0, 47, 201);
 }
.pp > a > i{
    color: white;
    font-size: 90px;
    position: absolute;
    top: 500px;
    left: 900px;
    justify-content: center;
    align-items: center;
    color: purple;
    
}
.ppp > a > i{
    color: white;
    font-size: 90px;
    position: absolute;
    top: 500px;
    left: 1000px;
    justify-content: center;
    align-items: center;
    color: rgb(83, 171, 249);
    
}
.pppp > a > i{
    color: white;
    font-size: 90px;
    position: absolute;
    top: 500px;
    left: 1100px;
    justify-content: center;
    align-items: center;
    color: red;
    
}
/* member selesai */
/* hover */
.ashel:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.amanda:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.christy:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.lia:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.zee:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.callie:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.oniel:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.olla:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.feni:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.fiony:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.flora:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.freya:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.ella:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.gita1:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.eli:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.indah:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}.indira:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.jessi:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.lyn:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.kathrina:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.marsha1:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.lulu:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.muthe:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.raisha:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.adel1:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.shani:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.gracia:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.chika:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* popup valkyrie*/
.popup{
    position: absolute;
    top: 200px;
    left: 100px;
    
}
.biodata{
    position: absolute;
    left: 500px;
    top: 190px;
    font-size: 30px;
    color: white;
}
.biodata > p {
    font-size: 21px;
    text-align:left;
}
.biodata2{
    position: absolute;
    left: 750px;
    top: 335px ;
    color:white;
}
.biodata2 > p{
    font-size: 21px;
    text-align:left;
}
.biodata > a > i{
    color: white;
    font-size: 50px;
    color:rgb(0, 47, 201);
}
/* popup valkyrie selesai */
/* lagu */
.lagu{
    position: absolute;
    top: 525px;
    left: 50px;
    text-align: center;
    text-decoration: underline;
}
.lagu1{
    position: absolute;
    top: 525px;
    left: 20px;
    text-align: center;
    text-decoration: underline;
}
.lagu2{
    position: absolute;
    top: 525px;
    left: 100px;
    text-align: center;
    text-decoration: underline;
}
.lagu3{
    position: absolute;
    top: 525px;
    left: 90px;
    text-align: center;
    text-decoration: underline;
}
/* lagu selesai */
/* tranie */
.alya{
    position: absolute;
    top: 115px;
    left: 135px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.anin{
    position: absolute;
    top: 115px;
    left: 330px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.cathy{
    position: absolute;
    top: 115px;
    left: 525px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.elin{
    position: absolute;
    top: 115px;
    left: 720px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.chelsea{
    position: absolute;
    top: 115px;
    left: 915px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.chyntia{
    position: absolute;
    top: 115px;
    left: 1110px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.dena{
    position: absolute;
    top: 289px;
    left: 135px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center; 
    transition: 1s;
}
.desy{
    position: absolute;
    top: 289px;
    left: 330px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.gendis{
    position: absolute;
    top: 289px;
    left: 525px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.grace{
    position: absolute;
    top: 289px;
    left: 720px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.gressel{
    position: absolute;
    top: 289px;
    left: 915px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.jeane{
    position: absolute;
    top: 289px;
    left: 1110px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center;
    transition: 1s;
}
.michie{
    position: absolute;
    top: 463px;
    left: 135px;
    border: 2px solid black;
    background-color: #222;
    color: white;
    text-align: center; 
    transition: 1s;
}
.copy1{
    position: absolute;
    top: 605px;
    left: 290px;
    color:rgb(0, 47, 201);
 }
.pp1 > a > i{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 490px;
    left: 335px;
    justify-content: center;
    align-items: center;
    color: purple;
    
}
.ppp1 > a > i{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 490px;
    left: 527px;
    justify-content: center;
    align-items: center;
    color: rgb(83, 171, 249);
    
}
.pppp1 > a > i{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 490px;
    left: 725px;
    justify-content: center;
    align-items: center;
    color: red;
}
/* trainie selesai */
/* hover trainie */
.alya:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.anin:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.cathy:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.elin:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.chelsea:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.chyntia:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.dena:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.desy:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.gendis:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.grace:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.gressel:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.jeane:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.michie:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* tranie selesai */
/* overlay */
/* login */
/* *{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #222;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderline::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#ff27ff,#ff27ff,#ff27ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderline::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#ff27ff,#ff27ff,#ff27ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #2324a2;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputbox input:valid ~ span,
.box form .inputbox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputbox input:valid ~ i,
.box form .inputbox input:focus ~ i
{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2)
{
    color: #fff;
}
.box form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active
{
    opacity: 0.8;
} */